.CurrentUser {
    display: flex;
    width: 100%;

    * {
        vertical-align: middle;
    }

    .username {
        font-weight: 900;
        flex-grow: 1;
        text-align: right;
        align-self: center;
    }
}