.page-title {
    margin-top: 50px;
    font-size: 3.5em;
    margin-bottom: 0;
}

.page-subtitle {
    margin-top: 0;
    font-size: 1.5em;
    font-weight: 100;
}

.Modal {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    outline: none;
    border-radius: 30px;
    padding: 40px;
    display: flex;
}

.theme-dark {
    .Modal {
        background-color: #23272A;
    }
}

.theme-light {
    .Modal {
        background-color: #ffffff;
    }
}

.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
}
