.App {
    display: flex;
    height: 100%;

    .Sidebar {
        padding-left: 30px;
        padding-right: 30px;
    }

    .Body {
        padding-left: 30px;
        width: 80%;
    }
}

.theme-dark {
    .Sidebar {
        background-color: #2C2F33;
    }
}

.theme-light {
    .Sidebar {
        background-color: #f2f3f5;
    }
}
