.URL {
    background-color: #2C2F33;
    width: 75%;
    padding-left: 30px;
    padding-bottom: 20px;
    border-radius: 20px;
    margin-bottom: 30px;

    .longURL {
        a {
            color: #7289DA;
            text-decoration: none;
        }
    }

    .shortCode {
        padding-top: 20px;
    }

    .creator {
        vertical-align: middle;
        img {
            vertical-align: middle;
            display: inline-block;
        }
    }

    .deleteButton {
        opacity: 0;
        float: right;
        margin-top: 10px;
        margin-right: 10px;
        line-height: 6px;
        background-color: #52585f;
        padding: 10px;
        border-radius: 60px;
        transition: all 0.25s;
        border: none;
    }

    .deleteButton:hover {
        background-color: #7b828a;
        cursor: pointer;
    }
}

.URL:hover {
    .deleteButton {
        opacity: 1;
    }
}