.input-label {
    font-weight: 900;
    font-size: 1.25em;
    margin-bottom: 0;
}

.form-row {
    margin: 0px;
    margin-top: 15px;
    margin-bottom: 15px;
}

input[type=text] {
    width: 300px;
    height: 20px;
    border-radius: 2px;
    border: none;
    padding: 5px;
    padding-left: 10px;
}

.theme-light {
    input[type=text] {
        background-color: #F0F0F0;
    }
}
